@{
    Layout = null;
}

<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/Content/calc.css">
</head>
<body>
    <div class="textbox">
        <input type="text" name="output" maxlength="17" size="17" value="0">
    </div>
    <div class="keys">
        <p>
            <img src="~/mat/Pic/1.png" alt="" width="40" height="33" />
            <img src="~/mat/Pic/2.png" alt="" width="40" height="33" />
            <img src="~/mat/Pic/3.png " alt="" width="40" height="33" />
            <img src="~/mat/Pic/add.png " alt="" width="40" height="33" />
            <br />
            <img src="~/mat/Pic/4.png " alt="" width="40" height="33" />
            <img src="~/mat/Pic/5.png " alt="" width="40" height="33" />
            <img src="~/mat/Pic/6.png " alt="" width="40" height="33" />
            <img src="~/mat/Pic/min.png " alt="" width="40" height="33" />
            <br />
            <img src="~/mat/Pic/7.png " alt="" width="40" height="33" />
            <img src="~/mat/Pic/8.png " alt="" />
            <img src="~/mat/Pic/9.png " alt="" width="40" height="33" />
            <img src="~/mat/Pic/mul.png " alt="" width="40" height="33" />
            <br />
            <img src="~/mat/Pic/dot.png " alt="" width="40" height="33" />
            <img src="~/mat/Pic/0.png " alt="" width="40" height="33" />
            <img src="~/mat/Pic/c.png " alt="" width="40" height="33" />
            <img src="~/mat/Pic/div.png " alt="" width="40" height="33" />
        </p>
    </div>
    </div>
    <p>
        <img src="~/mat/Pic/equ.png " alt="" width="192" height="46" />
    </p>
</body>
</html>
